<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>神医自用模糊文档图片</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">神医自用模糊文档图片</h1>
        <p>上传一份.docx，即可下载为模糊内部图片的版本️</p>
        <p>任何问题联系☁️</p>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <input class="form-control" type="file" id="formFile" name="file" accept=".docx" required>
            </div>
            <button type="submit" class="btn btn-primary">模糊并下载</button>
        </form>
    </div>
</body>
</html>
